body
{
    padding: 0;
    border: 0;
    margin: 0;
}
.container
{
    display: grid;
    grid-template-rows: 8fr 8fr 8fr 8fr;
    grid-template-columns: 2fr 8fr;
    height: 100%;
    border: solid;
    height: 100%;
    width: 100%;
    position: fixed;
}

.sidebar
{
    background-color: #8b5cf6;
    grid-row: 1 / 8;
    grid-column: 1 / 2;
}

.dashboard
{
    font-size: 13px;
    padding-left: 15px;
}

.sidebar svg
{
    fill: white;
    font-weight: bold;
    width: fit-content;
}
.label
{
    font-size: 25px;
    padding-left: 20px;
}

.label#home
{
    margin-top: 30px;
}

.label#setting
{
    margin-top: 30px;
}
.header 
{
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    border: 6px solid yellow;
}

.search
{
    display: flex;
    fill: black;
    border: 6px solid red;
    padding-left: 10px;
}



svg.icon
{
    width: 30px;
}
.searchbar
{
    margin-top: 10px;
    width:  50%;
    height: 20px;
    border-radius: 10px;
}

svg#bell
{
    margin-left: 100px;
}

svg#profile-pic
{
    background-color: #8b5cf6;
    fill: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

.name
{
    margin-left: 50px;
    font-weight: bold;
}
.main-content
{
    grid-column: 2 / 6;
    grid-row: 2 / 6;

    border: 6px solid green;
}
